<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <a class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1" routerLink="">
        <i class="bi bi-music-note-list me-2 fs-4"></i>
      </a>
      <span class="mb-3 mb-md-0 text-body-secondary">
        &copy; 2024 Michel Blank
      </span>
    </div>
    <div>
      Songs bereitsgestellt durch
      <a href="https://spotify.com">
        <img height="20px" src="assets/Spotify_Logo_RGB_Black.png"/>
      </a>
    </div>
    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3">
        <a class="text-body-secondary" href="https://michelblank.de" target="_blank">
          <i class="bi bi-person fs-4"></i>
        </a>
      </li>
    </ul>
  </footer>
</div>
