<div class="row" *ngFor="let song of selectedSongs">
  <div class="input-group" >
    <input type="text" class="visually-hidden" name="song_id[]" [value]="song.id">
    <input type="text" class="visually-hidden" name="spotify_id[]" [value]="song.spotifyId">
    <input type="text" class="form-control" name="song_search_query[]" placeholder="An welches Lied denkst Du gerade?" aria-label="Songtitel für neuen Eintrag" (keyup)="loadSuggestions($event, song)">
    <div>
      <div class="row" *ngFor="let suggestion of suggestions" (click)="useSuggestion(suggestion, song)">
        <div class="col col-auto">
          <img [src]="suggestion.coverUrl" height="36">
        </div>
        <div class="col">
          <div class="row">
              <div class="text-muted col">{{suggestion.interpret}}</div>
              <div class="text-muted col">{{suggestion.album}}</div>
          </div>
          <div class="row">
            {{suggestion.name}}
          </div>
        </div>
      </div>
      <button class="btn btn-outline-secondary bi bi-trash" (click)="removeSong(song)"></button>
      <button class="btn btn-outline-secondary bi bi-plus" (click)="addAnotherSong()"></button>
    </div>
  </div>
  <div class="row" *ngIf="selectedSongs[0].id || selectedSongs[0].spotifyId">
    <textarea placeholder="Tagebucheintrag (optional)"></textarea>
  </div>

  <button type="submit" class="form-control btn btn-primary" *ngIf="selectedSongs[0].id || selectedSongs[0].spotifyId" (click)="submit()">Hinzufügen</button>
</div>
