.song-cover-icon {
  height: 40px;
  width: 40px;
  background-position: center;
  background-size: cover;
  background-color: gray;
}

.song-preview {
  display: none;
  font-size: 2rem;
  color: #FFFFFF;
  text-align: center;
  line-height: 40px;
  background-color: rgba(0, 0, 0, 0.3);
}

.song-preview.is-playing {
  display: block;
}

.song-preview.is-playing .bi::before {
  content: "\f4c4"; // override play icon with pause icon
}

.song-cover-icon:hover > .song-preview {
  display: block;
}
