<div class="card overflow-hidden">
  <img src="{{ entry.songs[0].coverUrl }}" class="card-img-top" alt="{{ entry.songs[0].name }}">

  <ul class="list-group list-group-flush">
    <li class="list-group-item" *ngFor="let song of entry.songs">
      <div class="text-muted">{{ song.interpret }}</div>
      <div>{{ song.name }}</div>
      <audio controls preload="none" class="w-100">
        <source src="{{song.previewUrl}}">
      </audio>
    </li>
  </ul>

  <div class="card-body" *ngIf="entry.entry">
    <p class="card-text">
      {{ entry.entry }}
    </p>
  </div>

  <div class="card-footer">
    {{ entry.referenceDate | date: 'dd.MM.yyyy' }}
  </div>
</div>
