<div class="card overflow-hidden">
  <div class="card-img-top cover" style='background-image: url("{{entry.songs[0].coverUrl}}")'
       (click)="togglePreviewPlayback()">
    <div class="song-preview"
         [class.is-playing]="previewPlayback != null && !previewPlayback.paused && !previewPlayback.ended">
      <i class="bi bi-play"></i>
    </div>
  </div>

  <ul class="list-group list-group-flush">
    <li class="list-group-item" *ngFor="let song of entry.songs">
      <div class="text-muted">{{ song.interpret }}</div>
      <div>{{ song.name }}</div>
    </li>
  </ul>

  <div class="card-body" *ngIf="entry.entry">
    <p class="card-text">
      {{ entry.entry }}
    </p>
  </div>

  <div class="card-footer">
    {{ entry.referenceDate | date: 'dd.MM.yyyy' }}
  </div>
</div>
